#main-nav .nav-link:hover {
    color: #40916c;
}

section {
    width: 100%;
    height: 550px;
    background-image: url("https://images.unsplash.com/photo-1583752028088-91e3e9880b46?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1567&q=80");
    background-size: cover;
    margin: 0 auto;
}

h2 {
    font-size: 50px;
    color: aliceblue;
    padding-bottom: 0.5em;
}

#cover-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#sign-up-cover {
    border-radius: 7px;
}

#ticker-search {
    padding-top: 3em;
}

#reg-container {
    padding-top: 6em;
}

#ticker-label {
    color: black;
    font-size: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#search-ticker-label {
    padding-bottom: 0.5em;
}

#news-container {
    padding-top: 1.5em;
    padding-bottom: 1.2em;
    display: flex;
    flex-direction: row;
}

#ticker-title-label {
    padding-right: 0.3em;
    font-weight: bold;
    font-size: 1.2em;
}

#ticker-title {
    font-weight: bold;
    font-size: 1.2em;
    color: #40916c;
}

#excel-statement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 6em;
}

svg {
    margin-right: 15px;
}

.container ul {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    margin: 32px 0;
}

.container li {
    margin: 0 10px;
    flex-basis: calc(50% - 20px);  /* width minus margins */
}

.container img {
    width: 100%;                   /* occupy 100% width of li container */
    height: auto;
}

.top {
    margin-top: 40px;
}
/* tablet/phone view */
@media (max-width: 950px) {
    
  }