<!DOCTYPE html>
<html>

<head>
  <title> IvyOnline Main</title>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Google Font #to be changed -->
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,700" rel="stylesheet">


  <!-- Bootstrap CSS -->
  <link href="./css/bootstrap.min.css" rel="stylesheet">
  <!-- Local CSS -->
  <link rel="stylesheet" href="./css/styling.css">

  <script src='./js/plotly-latest.min.js'></script>
  <script src="./js/jquery-3.5.1.js" ></script>
</head>


<body>
  <!-- NavBar -->
  <nav id="main-nav" class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand mb-0 h1 text-success" href="/">IN$GHT.AI</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="blog">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href='AboutUS'>About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href='infoStock'>Stock Info</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href='analysis'>Stock Analysis</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href='feature'>Stock Features</a>
          </li>

        </ul>
        <!-- Button trigger modal -->
        <a class="nav-link" aria-current="page" href='analysis-zh'>EN/中</a>
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal" id='sign_in'>Sign in</button>
        <button class="btn btn-outline-success" type="submit" id='sign_up'>Sign up</button>

      </div>
    </div>
  </nav>


  <div id="reg-container" class="container">

    <h2 id="ticker-label">
      <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" fill="currentColor" class="bi bi-clipboard-data"
        viewBox="0 0 16 16">
        <path
          d="M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V7zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0V9z" />
        <path
          d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z" />
        <path
          d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z" />
      </svg>
      Stock price prediction
    </h2>

  </div>
  <div id='selectionBar'>
    <label for="company_selected">Companies：</label>
    <input type="text" id="company_selected" list = "company-list" >
    
    <datalist id = "company-list">
        <option>AU</option>
        <option>APEI</option>
        <option>AAL</option>
        <option>AAPL</option>
        <option>AMC</option>
        <option>AMD</option>
        <option>AMZN</option>
        <option>AZN</option>
        <option>BA</option>
        <option>BAC</option>
        <option>BB</option>
        <option>BILI</option>
        <option>BLCT</option>
        <option>BABA</option>
        <option>BTBT</option>
        <option>BNGO</option>
        <option>BLNK</option>
        <option>CBAT</option>
        <option>CCL</option>
        <option>CLF</option>
        <option>CLPR</option>
        <option>CRM</option>
        <option>DIS</option>
        <option>DBX</option>
        <option>DGLY</option>
        <option>F</option>
        <option>FSLY</option>
        <option>FUBO</option>
        <option>FB</option>
        <option>GE</option>
        <option>GM</option>
        <option>KO</option>
        <option>MSFT</option>
        <option>STX</option>
        <option>TSLA</option>
        <option>LAZR</option>
        <option>LRN</option>
        <option>LI</option>
        <option>INO</option>
        <option>INTC</option>
        <option>NIO</option>
        <option>TCEHY</option>
        <option>TSM</option>
        <option>TWOU</option>
        <option>TLRY</option>
        <option>TOUR</option>
        <option>CHGG</option>
        <option>GOOG</option>
        <option>GPRO</option>
        <option>GOLD</option>
        <option>JNJ</option>
        <option>JD</option>
        <option>JMIA</option>
        <option>LUV</option>
        <option>NVDA</option>
        <option>PTON</option>
        <option>PLTR</option>
        <option>PDD</option>
        <option>SQ</option>
        <option>SOLO</option>
        <option>SDC</option>
        <option>SUMO</option>
        <option>TICKER</option>
        <option>USO</option>
        <option>QS</option>
        <option>REGI</option>
        <option>RMO</option>
        <option>RLX</option>
        <option>IVR</option>
        <option>KXIN</option>
        <option>FROG</option>
        <option>U</option>
        <option>VJET</option>
        <option>WPG</option>
        <option>WOOF</option>
        <option>X</option>
        <option>XPEV</option>
        <option>SPY</option>
        <option>XLF</option>
        <option>EEM</option>
        <option>XLE</option>
        <option>EWZ</option>
        <option>IWM</option>
        <option>VXX</option>
        <option>SLV</option>
        <option>EFA</option>
        <option>GDX</option>
        <option>HYG</option>
        <option>SDS</option>
        <option>FXI</option>
        <option>UVXY</option>
        <option>TQQQ</option>
        <option>SQQQ</optio>
        <option>UDOW</option>
        <option>SDOW</option>
        <option>QQQ</option>
        <option>UPRO</option>
        <option>SPXL</option>
        <option>EDU</option>
        <option>TAL</option>
    </datalist>
    <div>
      Risk Toleration:
    <input type="radio" id="lr" name="risk" value="Low Risk"
          checked>
    <label for="lr">Low Risk</label>
    
    <input type="radio" id="hr" name="risk" value="High Risk">
    <label for="hr">High Risk</label>
    <button id='prediction'>Search</button>
    </div>
    <div class = "massage">
      <p>*different trading suggestions will be given based on selected preference for risk</p>
    </div>
    <div class = "massage">
      <p> Choosing high risk gives trading suggestions with higher profit with a higher risk of portofolio loss,</p>
    </div>
    <div class = "massage">
      <p> while choosing low risk gives trading suggestions with lower profit and a lower risk of portofolio loss</p>
    </div>
    <style>
      .massage {
        font-size: small;
      }
    </style>
</div>
<div id='helpValidate' class = "hidden alert">
  <p>Please enter a ticker in the list</p>
</div>
<script src="./js/validateStocks.js"></script>
<script src="./js/loss.js"></script>
  <script>
    $(document).ready(function () {
      $("#prediction").click(function () {
        document.getElementById("sellDate").innerHTML =("");
        document.getElementById("buyDate").innerHTML =("");
        document.getElementById("expectedReturn").innerHTML =("");
        document.getElementById("loss").innerHTML =("");
        var correction = validate($("#company_selected").val());
        if(correction) {
          $("#helpValidate").addClass("hidden");
        } else {
          $("#helpValidate").removeClass("hidden");
        }
      });
    });
    
</script>

<div id="chartContainer" style="height: 300px; width: 100%;"></div>
<script src="./js/canvasjs.min.js"></script>
<script src="./js/plot_candleStick.js"></script>
<script>
  plot_candleStick('AAPL')
</script>
<script src="./js/suggestion.js"></script>
<script src="./js/suggestionAggresive.js"></script>

<script>
  suggestion('AAPL');
  loss('AAPL');
  $(document).ready(function () {
      $("#prediction").click(function () {
        var risk = $('input[name="risk"]:checked').val();
        if (risk == "Low Risk") {
          suggestion($("#company_selected").val());
          loss($("#company_selected").val());
        } else {
          suggestionAgg($("#company_selected").val());
          loss($("#company_selected").val());
        }
      });
    });
  
</script>
<p id = "buyDate"></p>
<p id = "sellDate"></p>
<p id = "expectedReturn"></p>
<p id = "loss"></p>
<p>The absolute value of expected shortfall at 5% level is used to calculate the loss ratio. 
  Expected shortfall is a coherent risk measure. 
  The ‘expected shortfall at 5% level’ is the expected return on the portfolio in the worst 5% of cases. 
  It is defined to be the mean loss of portfolio value given that a loss is occurring at or below 5% level.</p>
  <!-- News label-->
  <div id="news-container" class="container">
    <p id="ticker-title-label">prediction analysis</p>
  </div>
  <div id="chartContainer_analysis1" style="height: 300px; width: 100%;"></div>
  <!-- <div id="chartContainer_analysis2" style="height: 300px; width: 100%;"></div> -->
  
  <div id="plot_dynamic" style="height: 300px; width: 100%;"></div>
  <script src="./js/plot_analysis.js"></script>
  <script src="./js/My_plot.js"></script>
  <script src="./js/loss.js"></script>
  <script>
    plot_candleStick_ana('AAPL')
    plot_stuff('AAPL')
    loss('AAPL')
  </script>

  <!-- Finanical label -->
  <div id="reg-container" class="container">
    <script>
     
    </script>

    <h2 id="ticker-label">
      <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" fill="currentColor" class="bi bi-bar-chart"
        viewBox="0 0 16 16">
        <path
          d="M4 11H2v3h2v-3zm5-4H7v7h2V7zm5-5v12h-2V2h2zm-2-1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1h-2zM6 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm-5 4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3z" />
      </svg>
      <!-- Finanical statements -->
    </h2>

  </div>

  <!-- Financial label-->
  <!-- <div id="news-container" class="container">
    <p id="ticker-title-label">Finanical statement analysis</p>
  </div>

  <div id="excel-statement" class="container">
    <iframe height=400 width=1000
      src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQx_Yvwi_S5dgBQs56OfS_-jZj0DqJAHCgZ1FtpQrmKWN3MvmKzIXD-hLDBaJpnu5Wx66NNW0mdbUWu/pubhtml?gid=0&amp;single=true&amp;widget=true&amp;headers=false"></iframe>

  </div> -->
  <!-- Bootstrap -->

  <script src="./js/popper.min.js"></script>
  <script src="./js/bootstrap.min.js"></script>
  <script src="./js/plot_candleStick.js"></script>
    <script>
        $('#sign_in').click(function(){
          window.location.href = '/sign_in'
        })
        $('#sign_up').click(function(){
          window.location.href = '/sign_up'
        })
    </script>
    
    <script>
        $('#prediction').click(function(){
          var company_selected = $('#company_selected').val()
          $('#chartContainer').empty()
          $('#chartContainer_analysis1').empty()
          $('#plot_dynamic').empty()
          plot_candleStick(company_selected)
          plot_candleStick_ana(company_selected)
          plot_stuff(company_selected)
        })
    </script>   

  <!-- Power Bi Chart-->
  <!-- <div id="power_bi_chart" style="width:100%; text-align: center;" >
    <iframe 
    width="1024" 
    height="612" 
    src="https://app.powerbi.com/view?r=eyJrIjoiNjY3MmJhMGItZDc5YS00MjAzLThmYTQtYjQ0NjNiYWJiMjExIiwidCI6IjhjMjdmOTg1LTVjNDctNDBiYi04ODA0LWZiMmIzOTAzMDBjMSJ9&pageName=ReportSectionf7a0ba1e7111e1fe6bbd" 
    frameborder="0" 
    allowFullScreen="true"
    ></iframe>
  </div> -->
   <!--Sentiment analysis in insightFinance.html -->
 <div id="sentiment-analysis">
  <h3>Sentiment Analysis</h3>
  <hr/>
  <label for="sentimentTicker">Stock ticker:</label><br>
  <input type="text" id="sentimentTicker" name="sentimentTicker" ><br>
  <input type="submit" id="sentimentAnalysis"  value="Search"><br>
  <img id="sentimentImg" style="display: none;" >
</div>
<script>
  $(document).ready(function () {
        $('#sentimentAnalysis').click(function () {
            //reset the image display
            document.getElementById("sentimentImg").style.display = "none";
            document.getElementById("sentimentImg").src = "";

            var sentimentTicker = $('#sentimentTicker').val()
            console.log("sentimentTicker",sentimentTicker)
            $.ajax(
              {
                type: 'get',
                url: '/sentimentAnalysis',
                data: { 'sentimentTicker': sentimentTicker},
                dataType: 'json',
                success: function (res) {
                  console.log("data",res)
                  var aftetSplit = res.filename.split(",")
                  var originPath = aftetSplit[2].split("/")
                  if (res.code == '200') {
                    document.getElementById("sentimentImg").src = "./images/" + originPath[3];
                    document.getElementById("sentimentImg").style.display = "initial";
                    alert('successful')
                  }
                  
                }
              })
        })
      })
</script>

<div class="footer">
  <hr>
  <p>Copyright © 2020 Ivy Online Academy - All Rights Reserved.</p>
</div>
  
</body>

</html>