<!DOCTYPE html>
<html>

<head>
  <title> IvyOnline Main</title>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Google Font #to be changed -->
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,700" rel="stylesheet">


  <!-- Bootstrap CSS -->
  <link href="./css/bootstrap.min.css" rel="stylesheet">
  <!-- Local CSS -->
  <link rel="stylesheet" href="./css/styling.css">

  <script src='./js/plotly-latest.min.js'></script>
  <script src="./js/jquery-3.5.1.js" ></script>
</head>


<body>
  <!-- NavBar -->
  <nav id="main-nav" class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand mb-0 h1 text-success" href="zh">IN$GHT.AI</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="zh">主页</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="blog-zh">博客</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href='AboutUS-zh'>关于</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href='infoStock-zh'>股票新闻</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href='analysis-zh'>股票分析</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href='feature-zh'>股票信息</a>
          </li>


        </ul>
        <!-- Button trigger modal -->
        <a class="nav-link" aria-current="page" href='/analysis'>EN/中</a>
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal" id='sign_in'>登陆</button>
        <button class="btn btn-outline-success" type="submit" id='sign_up'>注册</button>

      </div>
    </div>
  </nav>


  <div id="reg-container" class="container">

    <h2 id="ticker-label">
      <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" fill="currentColor" class="bi bi-clipboard-data"
        viewBox="0 0 16 16">
        <path
          d="M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V7zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0V9z" />
        <path
          d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z" />
        <path
          d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z" />
      </svg>
      股价预测
    </h2>

  </div>
  <div id='selectionBar'>
    <label for="company_selected">公司：</label>
    <input type="text" id="company_selected" list = "company-list" >
    <button id='prediction'>Search</button>
    <!--
      'APEI','AAL','AAPL','AMC','AMD','AMZN','AZN','BA','BAC','BB','BILI','BLCT','BABA','BB','BTBT','BNGO','BLNK'
,'BAC','CBAT','CCL','CLF','CRM','CLPR','DIS','DBX','DGLY','F','FB','GE','GM','GOOG','KO',
'LRN','LI','MSFT','NVDA','PTON','PLTR','STX','TCEHY','TSLA','TSM','TWOU','TLRY','FSLY','FUBO','GPRO',
'GOLD','SQ','SOLO','SDC','SUMO','TOUR','JNJ','JD','JMIA','LAZR','INO','NIO',
'INTC','AU','USO','PDD','QS','REGI','RMO','RLX','GE','IVR','KXIN','FROG','U','VJET','WPG','WOOF','X','XPEV'
    -->
    <datalist id = "company-list">
        <option>AU</option>
        <option>APEI</option>
        <option>AAL</option>
        <option>AAPL</option>
        <option>AMC</option>
        <option>AMD</option>
        <option>AMZN</option>
        <option>AZN</option>
        <option>BA</option>
        <option>BAC</option>
        <option>BB</option>
        <option>BILI</option>
        <option>BLCT</option>
        <option>BABA</option>
        <option>BTBT</option>
        <option>BNGO</option>
        <option>BLNK</option>
        <option>CBAT</option>
        <option>CCL</option>
        <option>CLF</option>
        <option>CLPR</option>
        <option>CRM</option>
        <option>DIS</option>
        <option>DBX</option>
        <option>DGLY</option>
        <option>F</option>
        <option>FSLY</option>
        <option>FUBO</option>
        <option>FB</option>
        <option>GE</option>
        <option>GM</option>
        <option>KO</option>
        <option>MSFT</option>
        <option>STX</option>
        <option>TSLA</option>
        <option>LAZR</option>
        <option>LRN</option>
        <option>LI</option>
        <option>INO</option>
        <option>INTC</option>
        <option>NIO</option>
        <option>TCEHY</option>
        <option>TSM</option>
        <option>TWOU</option>
        <option>TLRY</option>
        <option>TOUR</option>
        <option>CHGG</option>
        <option>GOOG</option>
        <option>GPRO</option>
        <option>GOLD</option>
        <option>JNJ</option>
        <option>JD</option>
        <option>JMIA</option>
        <option>LUV</option>
        <option>NVDA</option>
        <option>PTON</option>
        <option>PLTR</option>
        <option>PDD</option>
        <option>SQ</option>
        <option>SOLO</option>
        <option>SDC</option>
        <option>SUMO</option>
        <option>TICKER</option>
        <option>USO</option>
        <option>QS</option>
        <option>REGI</option>
        <option>RMO</option>
        <option>RLX</option>
        <option>IVR</option>
        <option>KXIN</option>
        <option>FROG</option>
        <option>U</option>
        <option>VJET</option>
        <option>WPG</option>
        <option>WOOF</option>
        <option>X</option>
        <option>XPEV</option>
    </datalist>
  </div>
  <div id="chartContainer" style="height: 300px; width: 100%;"></div>
<script src="./js/canvasjs.min.js"></script>
<script src="./js/plot_candleStick.js"></script>
<script>
  plot_candleStick('AAPL')
</script>
<script src="./js/suggestion.js"></script>
<script>
  suggestion('AAPL');
  $(document).ready(function () {
      $("#prediction").click(function () {
        suggestion($("#company_selected").val());
      });
    });
  
</script>
<p id = "buyDate"></p>
<p id = "sellDate"></p>
<p id = "expectedReturn"></p>
  <!-- News label-->
  <div id="news-container" class="container">
    <p id="ticker-title-label">预测分析</p>
  </div>
  <div id="chartContainer_analysis1" style="height: 300px; width: 100%;"></div>
  <!-- <div id="chartContainer_analysis2" style="height: 300px; width: 100%;"></div> -->
  
  <div id="plot_dynamic" style="height: 300px; width: 100%;"></div>
  <script src="./js/plot_analysis.js"></script>
  <script src="./js/My_plot.js"></script>
  <script>
    plot_candleStick_ana('AAPL')
    plot_stuff('AAPL')
  </script>

  <!-- Finanical label -->
  <div id="reg-container" class="container">
    <script>
     
    </script>

    <h2 id="ticker-label">
      <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" fill="currentColor" class="bi bi-bar-chart"
        viewBox="0 0 16 16">
        <path
          d="M4 11H2v3h2v-3zm5-4H7v7h2V7zm5-5v12h-2V2h2zm-2-1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1h-2zM6 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm-5 4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3z" />
      </svg>
      <!-- Finanical statements -->
    </h2>

  </div>

  <!-- Financial label-->
  <!-- <div id="news-container" class="container">
    <p id="ticker-title-label">Finanical statement analysis</p>
  </div>

  <div id="excel-statement" class="container">
    <iframe height=400 width=1000
      src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQx_Yvwi_S5dgBQs56OfS_-jZj0DqJAHCgZ1FtpQrmKWN3MvmKzIXD-hLDBaJpnu5Wx66NNW0mdbUWu/pubhtml?gid=0&amp;single=true&amp;widget=true&amp;headers=false"></iframe>

  </div> -->
  <!-- Bootstrap -->

  <script src="./js/popper.min.js"></script>
  <script src="./js/bootstrap.min.js"></script>
  <script src="./js/plot_candleStick.js"></script>
    <script>
        $('#sign_in').click(function(){
          window.location.href = '/sign_in'
        })
        $('#sign_up').click(function(){
          window.location.href = '/sign_up'
        })
    </script>
    
    <script>
        $('#prediction').click(function(){
          var company_selected = $('#company_selected').val()
          $('#chartContainer').empty()
          $('#chartContainer_analysis1').empty()
          $('#plot_dynamic').empty()
          plot_candleStick(company_selected)
          plot_candleStick_ana(company_selected)
          plot_stuff(company_selected)
        })
    </script>   

  <!-- Power Bi Chart-->
  <!-- <div id="power_bi_chart" style="width:100%; text-align: center;" >
    <iframe 
    width="1024" 
    height="612" 
    src="https://app.powerbi.com/view?r=eyJrIjoiNjY3MmJhMGItZDc5YS00MjAzLThmYTQtYjQ0NjNiYWJiMjExIiwidCI6IjhjMjdmOTg1LTVjNDctNDBiYi04ODA0LWZiMmIzOTAzMDBjMSJ9&pageName=ReportSectionf7a0ba1e7111e1fe6bbd" 
    frameborder="0" 
    allowFullScreen="true"
    ></iframe>
  </div> -->
   <!--Sentiment analysis in insightFinance.html -->
 <div id="sentiment-analysis">
  <h3>情感分析</h3>
  <hr/>
  <label for="sentimentTicker">Stock ticker:</label><br>
  <input type="text" id="sentimentTicker" name="sentimentTicker" ><br>
  <input type="submit" id="sentimentAnalysis"  value="Search"><br>
  <img id="sentimentImg" style="display: none;" >
</div>
<script>
  $(document).ready(function () {
        $('#sentimentAnalysis').click(function () {
            //reset the image display
            document.getElementById("sentimentImg").style.display = "none";
            document.getElementById("sentimentImg").src = "";

            var sentimentTicker = $('#sentimentTicker').val()
            console.log("sentimentTicker",sentimentTicker)
            $.ajax(
              {
                type: 'get',
                url: '/sentimentAnalysis',
                data: { 'sentimentTicker': sentimentTicker},
                dataType: 'json',
                success: function (res) {
                  console.log("data",res)
                  var aftetSplit = res.filename.split(",")
                  var originPath = aftetSplit[2].split("/")
                  if (res.code == '200') {
                    document.getElementById("sentimentImg").src = "./images/" + originPath[3];
                    document.getElementById("sentimentImg").style.display = "initial";
                    alert('successful')
                  }
                  
                }
              })
        })
      })
</script>
</body>

</html>