<!DOCTYPE html>
<html>

<head>
  <title> IvyOnline Main</title>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Google Font #to be changed -->
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,700" rel="stylesheet">


  <!-- Bootstrap CSS -->
  <link href="./css/bootstrap.min.css" rel="stylesheet">
  <!-- Local CSS -->
  <link rel="stylesheet" href="./css/styling.css">

  <script src='./js/plotly-latest.min.js'></script>
  <script src="./js/jquery-3.5.1.js" ></script>

  <script>
    var submitted = false;
    var currentTicker = "AAPL";
    var tickerJson;
    var articleNumber = 0;
    //0
    function changeArticle(title, url, image_url) {
      $("#article-title").html(title);
      $("#article-url").attr("href", url);
      $("#article-img").attr("src", image_url);
    }
    function getArticle(ticker) {
      var tempData;
      $.ajax({
        url: "https://stocknewsapi.com/api/v1?tickers=" + currentTicker + "&items=50&token=sowsjt2lk44mqjlqku4dtwxlutsms1rgnwlcuyoe", success: function (data) {
          $(".result").html(data);
          console.log("Getting article");
          console.log(data);
          console.log(data.data[0]);
          var title = data.data[0].title;
          var url = data.data[0].news_url;
          var image_url = data.data[0].image_url;
          changeArticle(title, url, image_url);
        }
      });
    }
    // function changeArticle(newArticle) {
    //   articleNumber = newArticle;
    //   $("#article_number").html(articleNumber);
    // }

    function changeTicker(newTicker) {
      currentTicker = newTicker;
      $("#tradingview_e1de3").attr("href", "https://www.tradingview.com/symbols/NASDAQ-" + currentTicker + "/"); //TODO
      $("#ticker-title").html(currentTicker);
      $("title").html("IvyOnline Graph Test | " + currentTicker);

      // var title = data[0].title;
      // var URL = data[0].news_url;
      // console.log(title + " " + url);
    }
    
    //1
    function changeArticle1(title, url, image_url) {
      $("#article-title1").html(title);
      $("#article-url1").attr("href", url);
      $("#article-img1").attr("src", image_url);
    }
    function getArticle1(ticker) {
      var tempData;
      $.ajax({
        url: "https://stocknewsapi.com/api/v1?tickers=" + currentTicker + "&items=50&token=sowsjt2lk44mqjlqku4dtwxlutsms1rgnwlcuyoe", success: function (data) {
          $(".result").html(data);
          console.log("Getting article");
          console.log(data);
          console.log(data.data[1]);
          var title = data.data[1].title;
          var url = data.data[1].news_url;
          var image_url = data.data[1].image_url;
          changeArticle1(title, url, image_url);
        }
      });
    }

    // function changeArticle(newArticle) {
    //   articleNumber = newArticle;
    //   $("#article_number").html(articleNumber);
    // }

    function changeTicker1(newTicker) {
      currentTicker = newTicker;
      $("#tradingview_e1de3").attr("href", "https://www.tradingview.com/symbols/NASDAQ-" + currentTicker + "/"); //TODO
      $("#ticker-title1").html(currentTicker);
      $("title1").html("IvyOnline Graph Test | " + currentTicker);

      // var title = data[0].title;
      // var URL = data[0].news_url;
      // console.log(title + " " + url);
    }

    //2
    function changeArticle2(title, url, image_url) {
      $("#article-title2").html(title);
      $("#article-url2").attr("href", url);
      $("#article-img2").attr("src", image_url);
    }
    function getArticle2(ticker) {
      var tempData;
      $.ajax({
        url: "https://stocknewsapi.com/api/v1?tickers=" + currentTicker + "&items=50&token=sowsjt2lk44mqjlqku4dtwxlutsms1rgnwlcuyoe", success: function (data) {
          $(".result").html(data);
          console.log("Getting article");
          console.log(data);
          console.log(data.data[2]);
          var title = data.data[2].title;
          var url = data.data[2].news_url;
          var image_url = data.data[2].image_url;
          changeArticle2(title, url, image_url);
        }
      });
    }
    // function changeArticle(newArticle) {
    //   articleNumber = newArticle;
    //   $("#article_number").html(articleNumber);
    // }

    function changeTicker2(newTicker) {
      currentTicker = newTicker;
      $("#tradingview_e1de3").attr("href", "https://www.tradingview.com/symbols/NASDAQ-" + currentTicker + "/"); //TODO
      $("#ticker-title").html(currentTicker);
      $("title").html("IvyOnline Graph Test | " + currentTicker);

      // var title = data[0].title;
      // var URL = data[0].news_url;
      // console.log(title + " " + url);
    }

    //3
    function changeArticle3(title, url, image_url) {
      $("#article-title3").html(title);
      $("#article-url3").attr("href", url);
      $("#article-img3").attr("src", image_url);
    }
    function getArticle3(ticker) {
      var tempData;
      $.ajax({
        url: "https://stocknewsapi.com/api/v1?tickers=" + currentTicker + "&items=50&token=sowsjt2lk44mqjlqku4dtwxlutsms1rgnwlcuyoe", success: function (data) {
          $(".result").html(data);
          console.log("Getting article");
          console.log(data);
          console.log(data.data[3]);
          var title = data.data[3].title;
          var url = data.data[3].news_url;
          var image_url = data.data[3].image_url;
          changeArticle3(title, url, image_url);
        }
      });
    }
    // function changeArticle(newArticle) {
    //   articleNumber = newArticle;
    //   $("#article_number").html(articleNumber);
    // }

    function changeTicker3(newTicker) {
      currentTicker = newTicker;
      $("#tradingview_e1de3").attr("href", "https://www.tradingview.com/symbols/NASDAQ-" + currentTicker + "/"); //TODO
      $("#ticker-title").html(currentTicker);
      $("title").html("IvyOnline Graph Test | " + currentTicker);

      // var title = data[0].title;
      // var URL = data[0].news_url;
      // console.log(title + " " + url);
    }

    $(document).ready(function () {
      $("#submit").click(function () {
        changeTicker($("#ticker").val());
        getArticle($("#ticker").val());
        changeTicker1($("#ticker").val());
        getArticle1($("#ticker").val());
        changeTicker2($("#ticker").val());
        getArticle2($("#ticker").val());
        changeTicker3($("#ticker").val());
        getArticle3($("#ticker").val());
        // changeArticle($("#article_number".val()));
      });
      var startingTicker = window.location.search.substring(1);
      // var article_num = $("#article_number".val());
      if (startingTicker.length > 4 || startingTicker.length < 1) {
        startingTicker = "AAPL";
      }

      changeTicker(startingTicker);
      // changeArticle(article_num);
      getArticle(startingTicker);
      changeTicker1(startingTicker);
      getArticle1(startingTicker);
      changeTicker2(startingTicker);
      getArticle2(startingTicker);
      changeTicker3(startingTicker);
      getArticle3(startingTicker);
    });

    

  </script>
</head>


<body>
  <!-- NavBar -->
  <nav id="main-nav" class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand mb-0 h1 text-success" href="/">IN$GHT.AI</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="blog">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href='AboutUS'>About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href='infoStock'>Stock Info</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href='analysis'>Stock Analysis</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href='feature'>Stock Features</a>
          </li>

        </ul>
        <!-- Button trigger modal -->
        <button>EN/中</button>
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal" id='sign_in'>Sign in</button>
        <button class="btn btn-outline-success" type="submit" id='sign_up'>Sign up</button>

      </div>
    </div>
  </nav>

  
  <!-- Ticker DIV -->

  <div id="ticker-search" class="container top">

    <!-- Ticker label -->
    <h2 id="ticker-label">
      <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" fill="currentColor" class="bi bi-rss"
        viewBox="0 0 16 16">
        <path
          d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
        <path
          d="M5.5 12a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm-3-8.5a1 1 0 0 1 1-1c5.523 0 10 4.477 10 10a1 1 0 1 1-2 0 8 8 0 0 0-8-8 1 1 0 0 1-1-1zm0 4a1 1 0 0 1 1-1 6 6 0 0 1 6 6 1 1 0 1 1-2 0 4 4 0 0 0-4-4 1 1 0 0 1-1-1z" />
      </svg>

      Latest News
    </h2>

    <label id="search-ticker-label" for="ticker">Search ticker</label>

    <form class="d-flex">
      <input type="text" class="form-control me-2" placeholder="AAPL" id="ticker" aria-label="Search">
      <button class="btn btn-outline-success" type="button" id="submit">Search</button>
    </form>

  </div>

  <!-- News label-->
  <div id="news-container" class="container">
    <p id="ticker-title-label">Latest news about </p>
    <p id="ticker-title">[Current Ticker Name]</p>
  </div>

  <!-- News-->
  <div id="news" class="container">

    <ul>
    <li>
    <a id="article-url" href="#">
      <p id="article-title">[Article Title]</p>
    </a>
    
    <img id="article-img">
    </li>
    <li>
    <a id="article-url1" href="#">
      <p id="article-title1">[Article Title]</p>
    </a>
    
    <img id="article-img1">
    </li>
    <li>

    <a id="article-url2" href="#">
      <p id="article-title2">[Article Title]</p>
    </a>
  
    <img id="article-img2">
    </li>

    <li>

    <a id="article-url3" href="#">
      <p id="article-title3">[Article Title]</p>
    </a>
  
    <img id="article-img3">
    </li>

    </ul>
    
  </div>

  <!-- Ticker label -->
  <div id="reg-container" class="container">

    <h2 id="ticker-label">
      <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" fill="currentColor" class="bi bi-graph-up"
        viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M0 0h1v15h15v1H0V0zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5z" />
      </svg>
      Historical stock price
    </h2>

  </div>

  <!-- News label-->
  <div id="news-container" class="container">
    <p id="ticker-title-label">Stock price of company</p>
  </div>



  <!-- TradingView Widget BEGIN -->
  <div class="tradingview-widget-container">
    <div id="tradingview_e1de3"></div>
    <div class="tradingview-widget-copyright">Chart</a> by TradingView</div>

        
    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
    <script type="text/javascript">
      new TradingView.widget(
      {
          "width": 980,
          "height": 610,
          "symbol": currentTicker,
          "interval": "D",
          "timezone": "Etc/UTC",
          "theme": "light",
          "style": "1",
          "locale": "en",
          "toolbar_bg": "#f1f3f6",
          "enable_publishing": false,
          "allow_symbol_change": true,
          "container_id": "tradingview_e1de3"
      }
    );

    $(document).ready(function () {
      $("#submit").click(function () {
        new TradingView.widget(
        {
          "width": 980,
          "height": 610,
          "symbol": currentTicker,
          "interval": "D",
          "timezone": "Etc/UTC",
          "theme": "light",
          "style": "1",
          "locale": "en",
          "toolbar_bg": "#f1f3f6",
          "enable_publishing": false,
          "allow_symbol_change": true,
          "container_id": "tradingview_e1de3"
        }
      );
      });
    });
    </script>
  </div>
  

</body>

</html>