<!DOCTYPE html>
<html>

<head>
  <title> IvyOnline Main</title>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Google Font #to be changed -->
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,700" rel="stylesheet">


  <!-- Bootstrap CSS -->
  <script src="./js/jquery-3.5.1.js" ></script>
  <link href="./css/bootstrap.min.css" rel="stylesheet">
  <!-- Local CSS -->
  <link rel="stylesheet" href="./css/styling.css">

  <script src='./js/plotly-latest.min.js'></script>
  

  <script>
    var submitted = false;
    var currentTicker = "AAPL";
    var tickerJson;
    var articleNumber = 0;
    //0
    function changeArticle(title, url, image_url) {
      $("#article-title").html(title);
      $("#article-url").attr("href", url);
      $("#article-img").attr("src", image_url);
    }
    function getArticle(ticker) {
      var tempData;
      $.ajax({
        url: "https://stocknewsapi.com/api/v1?tickers=" + currentTicker + "&items=50&token=sowsjt2lk44mqjlqku4dtwxlutsms1rgnwlcuyoe", success: function (data) {
          $(".result").html(data);
        
          var title = data.data[0].title;
          var url = data.data[0].news_url;
          var image_url = data.data[0].image_url;
          changeArticle(title, url, image_url);
        }
      });
    }
    // function changeArticle(newArticle) {
    //   articleNumber = newArticle;
    //   $("#article_number").html(articleNumber);
    // }

    function changeTicker(newTicker) {
      currentTicker = newTicker;
      $("#tradingview_e1de3").attr("href", "https://www.tradingview.com/symbols/NASDAQ-" + currentTicker + "/"); //TODO
      $("#ticker-title").html(currentTicker);
      $("title").html("IvyOnline Graph Test | " + currentTicker);

      // var title = data[0].title;
      // var URL = data[0].news_url;
      // console.log(title + " " + url);
    }
    
    //1
    function changeArticle1(title, url, image_url) {
      $("#article-title1").html(title);
      $("#article-url1").attr("href", url);
      $("#article-img1").attr("src", image_url);
    }
    function getArticle1(ticker) {
      var tempData;
      $.ajax({
        url: "https://stocknewsapi.com/api/v1?tickers=" + currentTicker + "&items=50&token=sowsjt2lk44mqjlqku4dtwxlutsms1rgnwlcuyoe", success: function (data) {
          $(".result").html(data);
          var title = data.data[1].title;
          var url = data.data[1].news_url;
          var image_url = data.data[1].image_url;
          changeArticle1(title, url, image_url);
        }
      });
    }

    // function changeArticle(newArticle) {
    //   articleNumber = newArticle;
    //   $("#article_number").html(articleNumber);
    // }

    function changeTicker1(newTicker) {
      currentTicker = newTicker;
      $("#tradingview_e1de3").attr("href", "https://www.tradingview.com/symbols/NASDAQ-" + currentTicker + "/"); //TODO
      $("#ticker-title1").html(currentTicker);
      $("title1").html("IvyOnline Graph Test | " + currentTicker);

      // var title = data[0].title;
      // var URL = data[0].news_url;
      // console.log(title + " " + url);
    }

    //2
    function changeArticle2(title, url, image_url) {
      $("#article-title2").html(title);
      $("#article-url2").attr("href", url);
      $("#article-img2").attr("src", image_url);
    }
    function getArticle2(ticker) {
      var tempData;
      $.ajax({
        url: "https://stocknewsapi.com/api/v1?tickers=" + currentTicker + "&items=50&token=sowsjt2lk44mqjlqku4dtwxlutsms1rgnwlcuyoe", success: function (data) {
          $(".result").html(data);
        
          var title = data.data[2].title;
          var url = data.data[2].news_url;
          var image_url = data.data[2].image_url;
          changeArticle2(title, url, image_url);
        }
      });
    }
    // function changeArticle(newArticle) {
    //   articleNumber = newArticle;
    //   $("#article_number").html(articleNumber);
    // }

    function changeTicker2(newTicker) {
      currentTicker = newTicker;
      $("#tradingview_e1de3").attr("href", "https://www.tradingview.com/symbols/NASDAQ-" + currentTicker + "/"); //TODO
      $("#ticker-title").html(currentTicker);
      $("title").html("IvyOnline Graph Test | " + currentTicker);

      // var title = data[0].title;
      // var URL = data[0].news_url;
      // console.log(title + " " + url);
    }

    //3
    function changeArticle3(title, url, image_url) {
      $("#article-title3").html(title);
      $("#article-url3").attr("href", url);
      $("#article-img3").attr("src", image_url);
    }
    function getArticle3(ticker) {
      var tempData;
      $.ajax({
        url: "https://stocknewsapi.com/api/v1?tickers=" + currentTicker + "&items=50&token=sowsjt2lk44mqjlqku4dtwxlutsms1rgnwlcuyoe", success: function (data) {
          $(".result").html(data);
          var title = data.data[3].title;
          var url = data.data[3].news_url;
          var image_url = data.data[3].image_url;
          changeArticle3(title, url, image_url);
        }
      });
    }
    // function changeArticle(newArticle) {
    //   articleNumber = newArticle;
    //   $("#article_number").html(articleNumber);
    // }

    function changeTicker3(newTicker) {
      currentTicker = newTicker;
      $("#tradingview_e1de3").attr("href", "https://www.tradingview.com/symbols/NASDAQ-" + currentTicker + "/"); //TODO
      $("#ticker-title").html(currentTicker);
      $("title").html("IvyOnline Graph Test | " + currentTicker);

      // var title = data[0].title;
      // var URL = data[0].news_url;
      // console.log(title + " " + url);
    }

    $(document).ready(function () {
      $("#submit").click(function () {
        changeTicker($("#ticker").val());
        getArticle($("#ticker").val());
        changeTicker1($("#ticker").val());
        getArticle1($("#ticker").val());
        changeTicker2($("#ticker").val());
        getArticle2($("#ticker").val());
        changeTicker3($("#ticker").val());
        getArticle3($("#ticker").val());
        // changeArticle($("#article_number".val()));
      });
      var startingTicker = window.location.search.substring(1);
      // var article_num = $("#article_number".val());
      if (startingTicker.length > 4 || startingTicker.length < 1) {
        startingTicker = "AAPL";
      }

      changeTicker(startingTicker);
      // changeArticle(article_num);
      getArticle(startingTicker);
      changeTicker1(startingTicker);
      getArticle1(startingTicker);
      changeTicker2(startingTicker);
      getArticle2(startingTicker);
      changeTicker3(startingTicker);
      getArticle3(startingTicker);
    });

    

  </script>
</head>


<body>
  <!-- NavBar -->
  <nav id="main-nav" class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand mb-0 h1 text-success" href="/zh">IN$GHT.AI</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="zh">主页</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="blog-zh">博客</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href='AboutUS-zh'>关于</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href='infoStock-zh'>股票新闻</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href='analysis-zh'>股票分析</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href='feature-zh'>股票信息</a>
          </li>

        </ul>
        <!-- Button trigger modal -->
        <a class="nav-link" aria-current="page" href='/'>EN/中</a>
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal" id='sign_in'>Sign in</button>
        <button class="btn btn-outline-success" type="submit" id='sign_up'>Sign up</button>

      </div>
    </div>
  </nav>


  <!-- Cover section -->

  <section id="cover-img" class="container-fluid px-0 power">
    <h2>
      用AI技术去支持你的投资决定
    </h2>

    <button id="sign-up-cover" class="btn btn-success" type="button">注册</button>
  </section>

  <section class = desktop>
  <!-- TradingView Widget BEGIN -->
  <div class = flex-container>
  <!-- TradingView Widget BEGIN -->
  <div class = flexbox>
  <div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>
    <div class="tradingview-widget-copyright"></div>
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-quotes.js" async>
    {
    "width": 510,
    "height": 450,
    "symbolsGroups": [
      {
        "name": "Indices",
        "originalName": "Indices",
        "symbols": [
          {
            "name": "FOREXCOM:SPXUSD",
            "displayName": "S&P 500"
          },
          {
            "name": "FOREXCOM:NSXUSD",
            "displayName": "Nasdaq 100"
          },
          {
            "name": "FOREXCOM:DJI",
            "displayName": "Dow 30"
          },
          {
            "name": "INDEX:NKY",
            "displayName": "Nikkei 225"
          },
          {
            "name": "INDEX:DEU30",
            "displayName": "DAX Index"
          },
          {
            "name": "FOREXCOM:UKXGBP",
            "displayName": "UK 100"
          }
        ]
      },
      {
        "name": "Commodities",
        "originalName": "Commodities",
        "symbols": [
          {
            "name": "CME_MINI:ES1!",
            "displayName": "S&P 500"
          },
          {
            "name": "CME:6E1!",
            "displayName": "Euro"
          },
          {
            "name": "COMEX:GC1!",
            "displayName": "Gold"
          },
          {
            "name": "NYMEX:CL1!",
            "displayName": "Crude Oil"
          },
          {
            "name": "NYMEX:NG1!",
            "displayName": "Natural Gas"
          },
          {
            "name": "CBOT:ZC1!",
            "displayName": "Corn"
          }
        ]
      },
      {
        "name": "Bonds",
        "originalName": "Bonds",
        "symbols": [
          {
            "name": "CME:GE1!",
            "displayName": "Eurodollar"
          },
          {
            "name": "CBOT:ZB1!",
            "displayName": "T-Bond"
          },
          {
            "name": "CBOT:UB1!",
            "displayName": "Ultra T-Bond"
          },
          {
            "name": "EUREX:FGBL1!",
            "displayName": "Euro Bund"
          },
          {
            "name": "EUREX:FBTP1!",
            "displayName": "Euro BTP"
          },
          {
            "name": "EUREX:FGBM1!",
            "displayName": "Euro BOBL"
          }
        ]
      },
      {
        "name": "Forex",
        "originalName": "Forex",
        "symbols": [
          {
            "name": "FX:EURUSD"
          },
          {
            "name": "FX:GBPUSD"
          },
          {
            "name": "FX:USDJPY"
          },
          {
            "name": "FX:USDCHF"
          },
          {
            "name": "FX:AUDUSD"
          },
          {
            "name": "FX:USDCAD"
          }
        ]
      }
    ],
    "showSymbolLogo": true,
    "colorTheme": "light",
    "isTransparent": true,
    "locale": "zh_CN"
  }
    </script>
  </div>
  </div>
  <!-- TradingView Widget END -->
  <div class = flexbox>
    <div class="tradingview-widget-container">
      <div class="tradingview-widget-container__widget"></div>
      <div class="tradingview-widget-copyright"></div>
      <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-events.js" async>
      {
      "colorTheme": "light",
      "isTransparent": true,
      "width": "510",
      "height": "450",
      "locale": "zh_CN",
      "importanceFilter": "-1,0,1"
    }
      </script>
    </div>
  </div>
  </div>
  </section>
  <!-- TradingView Widget END -->

  <section class = phone>
  <!-- TradingView Widget BEGIN -->
    <!-- TradingView Widget BEGIN -->
    <div class="tradingview-widget-container">
      <div class="tradingview-widget-container__widget"></div>
      <div class="tradingview-widget-copyright"></div>
      <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-quotes.js" async>
      {
      "width": 400,
      "height": 450,
      "symbolsGroups": [
        {
          "name": "Indices",
          "originalName": "Indices",
          "symbols": [
            {
              "name": "FOREXCOM:SPXUSD",
              "displayName": "S&P 500"
            },
            {
              "name": "FOREXCOM:NSXUSD",
              "displayName": "Nasdaq 100"
            },
            {
              "name": "FOREXCOM:DJI",
              "displayName": "Dow 30"
            },
            {
              "name": "INDEX:NKY",
              "displayName": "Nikkei 225"
            },
            {
              "name": "INDEX:DEU30",
              "displayName": "DAX Index"
            },
            {
              "name": "FOREXCOM:UKXGBP",
              "displayName": "UK 100"
            }
          ]
        },
        {
          "name": "Commodities",
          "originalName": "Commodities",
          "symbols": [
            {
              "name": "CME_MINI:ES1!",
              "displayName": "S&P 500"
            },
            {
              "name": "CME:6E1!",
              "displayName": "Euro"
            },
            {
              "name": "COMEX:GC1!",
              "displayName": "Gold"
            },
            {
              "name": "NYMEX:CL1!",
              "displayName": "Crude Oil"
            },
            {
              "name": "NYMEX:NG1!",
              "displayName": "Natural Gas"
            },
            {
              "name": "CBOT:ZC1!",
              "displayName": "Corn"
            }
          ]
        },
        {
          "name": "Bonds",
          "originalName": "Bonds",
          "symbols": [
            {
              "name": "CME:GE1!",
              "displayName": "Eurodollar"
            },
            {
              "name": "CBOT:ZB1!",
              "displayName": "T-Bond"
            },
            {
              "name": "CBOT:UB1!",
              "displayName": "Ultra T-Bond"
            },
            {
              "name": "EUREX:FGBL1!",
              "displayName": "Euro Bund"
            },
            {
              "name": "EUREX:FBTP1!",
              "displayName": "Euro BTP"
            },
            {
              "name": "EUREX:FGBM1!",
              "displayName": "Euro BOBL"
            }
          ]
        },
        {
          "name": "Forex",
          "originalName": "Forex",
          "symbols": [
            {
              "name": "FX:EURUSD"
            },
            {
              "name": "FX:GBPUSD"
            },
            {
              "name": "FX:USDJPY"
            },
            {
              "name": "FX:USDCHF"
            },
            {
              "name": "FX:AUDUSD"
            },
            {
              "name": "FX:USDCAD"
            }
          ]
        }
      ],
      "showSymbolLogo": true,
      "colorTheme": "light",
      "isTransparent": true,
      "locale": "zh_CN"
    }
    </script>
    </div>
    <!-- TradingView Widget END -->
    
      <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        <div class="tradingview-widget-copyright"></div>
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-events.js" async>
        {
        "colorTheme": "light",
        "isTransparent": true,
        "width": "400",
        "height": "450",
        "locale": "zh_CN",
        "importanceFilter": "-1,0,1"
      }
        </script>
      </div>
    
    <!-- TradingView Widget END -->

  </section>

  <script src="./js/popper.min.js"></script>
  <script src="./js/bootstrap.min.js"></script>
  <script src="./js/plot_candleStick.js"></script>
    <script>
        $('#sign_in').click(function(){
          window.location.href = '/sign_in'
        })
        $('#sign_up').click(function(){
          window.location.href = '/sign_up'
        })
    </script>

<div class="footer">
  <hr>
  <p>Copyright © 2020 Ivy Online Academy - All Rights Reserved.</p>
</div>


</body>
</html>