<!DOCTYPE html>
<html>

<head>
  <title> Blog</title>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Google Font #to be changed -->
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,700" rel="stylesheet">


  <!-- Bootstrap CSS -->
  <link href="./css/bootstrap.min.css" rel="stylesheet">
  <!-- Local CSS -->
  <link rel="stylesheet" href="./css/styling.css">

  <script src='./js/plotly-latest.min.js'></script>
  <script src="./js/jquery-3.5.1.js" ></script>
</head>


<body>
  <!-- NavBar -->
  <nav id="main-nav" class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand mb-0 h1 text-success" href="/">IN$GHT.AI</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="blog">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href='AboutUS'>About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href='infoStock'>Stock Info</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href='analysis'>Stock Analysis</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href='feature'>Stock Features</a>
          </li>

        </ul>
        <!-- Button trigger modal -->
        <button>EN/中</button>
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal" id='sign_in'>Sign in</button>
        <button class="btn btn-outline-success" type="submit" id='sign_up'>Sign up</button>

      </div>
    </div>
  </nav>

  
  <h1>Blog</h1>
  

</body>

</html>