<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="../static/js/jquery-1.11.2.min.js"></script>
        <script type="text/javascript" src="../static/js/jquery.pagination-beta.js"></script>
        <script type="text/javascript" src="../static/js/grid.js"></script>
        <link href="../static/css/jquery.pagination.css" rel="stylesheet" type="text/css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <select id="charts_select">
            <option value="0">keys_stats</option>
            <option value="1">charting</option>
            <option value="2">cashflow</option>
            <option value="3">income_stat</option>
        </select>
        <h3 id="charts_name">keys_stats</h3>
        <iframe src="views/charts/key_stats.html" width="1200" height="500"></iframe>
        <script>
            $(document).ready(
                $("#charts_select").change(function(){
                    var name = $("#charts_select option:selected").text()
                    $("#charts_name").text(name)
                    $('iframe').attr('src','views/charts/'+name+'.html')
                })
            )
        </script>
    </body>

</html>