<!DOCTYPE html>
<html>

<head>
  <title> IvyOnline Main</title>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Google Font #to be changed -->
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,700" rel="stylesheet">


  <!-- Bootstrap CSS -->
  <link href="./css/bootstrap.min.css" rel="stylesheet">
  <!-- Local CSS -->
  <link rel="stylesheet" href="./css/styling.css">

  <script src='./js/plotly-latest.min.js'></script>
  <script src="./js/jquery-3.5.1.js" ></script>
</head>


<body>
  <!-- NavBar -->
  <nav id="main-nav" class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand mb-0 h1 text-success" href="/">IN$GHT.AI</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="blog">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href='AboutUS'>About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href='infoStock'>Stock Info</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href='infoStock'>Stock Analysis</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href='feature'>Stock Feature</a>
          </li>


        </ul>
        <!-- Button trigger modal -->
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal" id='sign_in'>Sign in</button>
        <button class="btn btn-outline-success" type="submit" id='sign_up'>Sign up</button>

      </div>
    </div>
  </nav>


  <!-- Cover section -->

  <section id="cover-img" class="container-fluid px-0">

    <h2>
      Power Your Portfolio with AI
    </h2>

    <button id="sign-up-cover" class="btn btn-success" type="button">Sign up today</button>

  </section>

<!-- TradingView Widget BEGIN -->
<div id="info-container" class="container">
<div class = "flex-container main-page">
<div class = "flexbox">
<h3>Market Information</h3>
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-overview.js" async>
  {
  "colorTheme": "light",
  "dateRange": "12M",
  "showChart": false,
  "locale": "en",
  "largeChartUrl": "thestocks.ai",
  "isTransparent": true,
  "showSymbolLogo": true,
  "width": "400",
  "height": "465",
  "tabs": [
    {
      "title": "Indices",
      "symbols": [
        {
          "s": "FOREXCOM:SPXUSD",
          "d": "S&P 500"
        },
        {
          "s": "FOREXCOM:NSXUSD",
          "d": "Nasdaq 100"
        },
        {
          "s": "FOREXCOM:DJI",
          "d": "Dow 30"
        },
        {
          "s": "INDEX:NKY",
          "d": "Nikkei 225"
        },
        {
          "s": "INDEX:DEU30",
          "d": "DAX Index"
        },
        {
          "s": "FOREXCOM:UKXGBP",
          "d": "UK 100"
        }
      ],
      "originalTitle": "Indices"
    },
    {
      "title": "Commodities",
      "symbols": [
        {
          "s": "CME_MINI:ES1!",
          "d": "S&P 500"
        },
        {
          "s": "CME:6E1!",
          "d": "Euro"
        },
        {
          "s": "COMEX:GC1!",
          "d": "Gold"
        },
        {
          "s": "NYMEX:CL1!",
          "d": "Crude Oil"
        },
        {
          "s": "NYMEX:NG1!",
          "d": "Natural Gas"
        },
        {
          "s": "CBOT:ZC1!",
          "d": "Corn"
        }
      ],
      "originalTitle": "Commodities"
    },
    {
      "title": "Bonds",
      "symbols": [
        {
          "s": "CME:GE1!",
          "d": "Eurodollar"
        },
        {
          "s": "CBOT:ZB1!",
          "d": "T-Bond"
        },
        {
          "s": "CBOT:UB1!",
          "d": "Ultra T-Bond"
        },
        {
          "s": "EUREX:FGBL1!",
          "d": "Euro Bund"
        },
        {
          "s": "EUREX:FBTP1!",
          "d": "Euro BTP"
        },
        {
          "s": "EUREX:FGBM1!",
          "d": "Euro BOBL"
        }
      ],
      "originalTitle": "Bonds"
    },
    {
      "title": "Forex",
      "symbols": [
        {
          "s": "FX:EURUSD"
        },
        {
          "s": "FX:GBPUSD"
        },
        {
          "s": "FX:USDJPY"
        },
        {
          "s": "FX:USDCHF"
        },
        {
          "s": "FX:AUDUSD"
        },
        {
          "s": "FX:USDCAD"
        }
      ],
      "originalTitle": "Forex"
    }
  ]
}
  </script>
</div>

<!-- TradingView Widget END -->
  
</div>

<div class = "flexbox">
<h3>Economic Calendar</h3>
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-events.js" async>
  {
  "colorTheme": "light",
  "isTransparent": true,
  "width": "400",
  "height": "465",
  "locale": "en",
  "importanceFilter": "-1,0,1"
  }
  </script>
</div>
<!-- TradingView Widget END -->
</div>
</div>
</div>

</body>

</html>