<!DOCTYPE html>
<html>
    <head>
        <style>
            h1,h2{
                text-align: center;
            }
            h2{
                color: aqua;
            }
        </style>
    </head>
    <body>
        <h1>
            Welcome to ivyonline webSite!
        </h1>
        <HR style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="80%" color=#987cb9 SIZE=3>
        <h2>
            still in Building
        </h2>
        <h3>
            <a href="/dynamic_chart">dynamic_chart</a>
        </h3>
        <h3>
            <a href="/plot">dynamic_plot</a>
        </h3>
        <h3>
            <a href="/cashflow">cashflow</a>
        </h3>
        <h3>
            <a href="/charting">charting</a>
        </h3>
        <h3>
            <a href="/income_stat">income_stat</a>
        </h3>
        <h3>
            <a href="/charts">/charts</a>
        </h3>
        <script>

        </script>
    </body>
</html>