<html>
<head>
    <link type="text/css" rel="stylesheet" href="./css/style2.css" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <title>Gmail login page source code download</title>
</head>
<body>
    <center>
        <div class="base">
            
            <div id="info1">
                The Stocks.Ai
            </div>
            <div id="info2">
                Sign up to continue 
            </div>
            <div id="form1">
                <div id="form-img">
                    <img src="./image/profile-img.png" width="99" height="99" />
                </div>
                <div id="mailbox">
                    <input placeholder="yourEmail" type="mail" name="name" style="width:270px; height:42px; border: solid 1px #c2c4c6; font-size:16px; padding-left:8px;" />
                </div>
                <div id="mailbox">
                    <input placeholder="password" type="mail" name="name" style="width:270px; height:42px; border: solid 1px #c2c4c6; font-size:16px; padding-left:8px;" />
                </div>
                <div id="mailbox">
                    
                    <input placeholder="Conform password" type="mail" name="name" style="width:270px; height:42px; border: solid 1px #c2c4c6; font-size:16px; padding-left:8px;" />
                </div>
                <div>
                    <input type="submit" id="button2" value="Sign Up" />
                </div>
                <div id="info3">
                    <a href="#">Need help?</a>
                </div>
            </div>
            <div id="info4">
                <a href="#">Create account</a>
            </div>
            <div id="info5">
                One Google Account for everything Google
            </div>
            

            <div id="bottom">

            </div>
        </div>
    </center>
    <script>
       $(document).ready(function(){
           $('#button2').click(function(){
               var name = 
               $.ajax(
                   {
                       url:'/SignIn',
                       success:function(result){

                       }
                   }
               )
           })
       })
    </script>
</body>

</html>